.card--style {
    background-color: #396B61;
}

.screen {
    height: 50px;
    background-color: #BECEA9;
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
}

.screen p {
    font-size: 30px;
    margin-right: 15px;
    color: black;
}